@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-family: "Lato", sans-serif; }

.header {
  text-align: center; }
  .header__primary {
    font-size: 5rem;
    letter-spacing: 0.1rem; }
  .header__secondary {
    font-size: 2.3rem; }
  .header__section {
    margin: 2rem 0;
    color: #333;
    font-weight: 300; }

.para {
  font-size: 1.6rem;
  margin: 1rem 10rem;
  line-height: 2rem;
  text-align: left;
  letter-spacing: 0.05px;
  font-weight: 300;
  color: #333; }

.about {
  background-color: #f9f9f9; }
  .about__photo {
    width: 400px;
    height: auto;
    float: left;
    margin: 1rem 2rem 2rem 10rem;
    border-radius: 3px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1); }

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("../../photos/LandingPage-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right; }
  @media (min-resolution: 192dpi) and (min-width: 600px) {
    .landing {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(../../photos/LandingPage-large.jpg); } }
  .landing__headers {
    margin-top: -10rem;
    font-family: "Cedarville Cursive", cursive; }
  .landing__header-primary {
    color: #f9f9f9; }
  .landing__header-secondary {
    color: #f9f9f9;
    align-self: flex-start;
    justify-self: flex-start;
    text-align: left;
    margin-top: -2rem; }

.nav {
  height: 15vh;
  background-color: #333;
  font-size: 1.6rem;
  padding: 1rem;
  display: flex;
  align-items: center; }
  .nav__list {
    display: flex;
    flex-direction: row;
    color: white; }
  .nav__item {
    list-style-type: none;
    margin: 1rem; }
  .nav__link {
    text-decoration: none;
    color: white;
    padding: 0.4rem; }
